# Web3Forms Contact Form Access Key
NEXT_PUBLIC_WEB3FORMS_KEY=13a86ba8-052f-4aaa-91e6-6130bb542d21

# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=https://zkhlqifadcdqiterenui.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
